<a href="https://colab.research.google.com/github/Tee-A02/HamoyeDS_Phase1/blob/master/Hamoye_Phase1_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries and Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('/content/fuel_ferc1.csv')

In [3]:
df.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [16]:
print('Language List:',A_B)

Language List: None

In [17]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Fuel_type_Code with lowest average cost per-unit Burned

In [18]:
df[df['fuel_cost_per_unit_burned'] == -276.080000]

                    record_id  ...  fuel_cost_per_mmbtu
7733  f1_fuel_2000_12_194_3_3  ...               -8.906

[1 rows x 11 columns]

### standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit)

In [19]:
df.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

### Skewness and Kurtosis of Fuel Quantity burned

In [22]:
from scipy.stats import kurtosis, skew

In [23]:
x = df['fuel_qty_burned']

In [24]:
print( 'skewness of normal distribution (should be 0): {}'.format( skew(x) ))
print( 'excess kurtosis of normal distribution (should be 0): {}'.format( kurtosis(x) ))

skewness of normal distribution (should be 0): 15.850690077422112
excess kurtosis of normal distribution (should be 0): 651.2589365474387

### Missing Values

In [27]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [26]:
count_ofMissing = df.isnull().sum()

### Percentage of missing Values

In [29]:
percent_missing = count_ofMissing/len(df)
percent_missing

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.006097
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

### Category of Missing Values

In [30]:
df['fuel_unit'].head()

0    ton
1    ton
2    ton
3    ton
4    mcf
Name: fuel_unit, dtype: object

### the second and third lowest correlation with the Fuel Cost Per Unit Burned

In [31]:
df[df.columns[1:]].corr()['fuel_cost_per_unit_burned'][:]

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

#### For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [40]:
coal = df[df['fuel_type_code_pudl'] == 'coal']

In [42]:
coal_94 = coal[coal['report_year'] == 1994 ]
coal_98 = coal[coal['report_year'] == 1998 ]

In [44]:
sum_98 = coal_98['fuel_cost_per_unit_burned'].sum()
sum_98

11902.597

In [45]:
sum_94 = coal_94['fuel_cost_per_unit_burned'].sum()
sum_94

14984.572000000002

In [46]:
Percent_change = ((sum_98 - sum_94)/sum_94) * 100
Percent_change

-20.56765451826053

### Which year has the highest average fuel cost per unit delivered?

In [47]:
df.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [48]:
df['fuel_cost_per_unit_delivered'].max()

7964521.0

In [49]:
df[df['fuel_cost_per_unit_delivered'] == 7964521.0]

                  record_id  ...  fuel_cost_per_mmbtu
3564  f1_fuel_1997_12_9_0_8  ...                0.578

[1 rows x 11 columns]