In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
outcome = normalised_df['Appliances']
features = normalised_df.drop(columns=['Appliances'])

In [ ]:
model = LinearRegression()

# Importing Libraries and Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Reading the Data

In [3]:
df = pd.read_csv('/content/energydata_complete.csv')
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [4]:
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

# Dropping date and light columns

In [8]:
df1 = df.drop(['date','lights'],axis=1)
df1.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

# Running Linear Regression model

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [10]:
#Now, we split our dataset into the training and testing dataset. Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size=0.3, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

# Regression Model for fitting x= T2 and y = T6

In [39]:
features_df.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [43]:
new_x = features_df['T2']
new_y = features_df['T6']

In [44]:
type(new_x)

pandas.core.series.Series

In [46]:
new_x1 = new_x.to_numpy()

In [49]:
final_x1 = new_x1.reshape(-1,1)

In [53]:
import statsmodels.api as sm


# Note the difference in argument order
model_xy = sm.OLS(new_y, new_x).fit()

In [61]:
features_df.corr()

                   T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
T1           1.000000  0.164006  0.836834  ...   0.571309 -0.006203 -0.006203
RH_1         0.164006  1.000000  0.269839  ...   0.639106 -0.000699 -0.000699
T2           0.836834  0.269839  1.000000  ...   0.582602 -0.011087 -0.011087
RH_2        -0.002509  0.797535 -0.165610  ...   0.499152  0.006275  0.006275
T3           0.892402  0.253230  0.735245  ...   0.645886 -0.005194 -0.005194
RH_3        -0.028550  0.844677  0.121497  ...   0.414387 -0.000477 -0.000477
T4           0.877001  0.106180  0.762066  ...   0.519471 -0.001815 -0.001815
RH_4         0.097861  0.880359  0.231563  ...   0.616509 -0.001787 -0.001787
T5           0.885247  0.205797  0.720550  ...   0.588362 -0.005490 -0.005490
RH_5        -0.014782  0.303258  0.029595  ...   0.078175 -0.011056 -0.011056
T6           0.654769  0.316141  0.801186  ...   0.764242 -0.015086 -0.015086
RH_6        -0.615045  0.245126 -0.580372  ...  -0.260417  0.011671  0.011671
T7           0.838705  0.021397  0.663660  ...   0.466625 -0.003900 -0.003900
RH_7         0.135182  0.801122  0.229212  ...   0.641857  0.001820  0.001820
T8           0.825413 -0.030053  0.578191  ...   0.391810 -0.003210 -0.003210
RH_8        -0.006441  0.736196  0.068534  ...   0.501775  0.004480  0.004480
T9           0.844777  0.115263  0.675535  ...   0.581483 -0.001227 -0.001227
RH_9         0.071756  0.764001  0.157346  ...   0.540328 -0.002955 -0.002955
T_out        0.682846  0.340767  0.792255  ...   0.790661 -0.015216 -0.015216
Press_mm_hg -0.150574 -0.293957 -0.133028  ...  -0.244098  0.000699  0.000699
RH_out      -0.345481  0.274126 -0.505291  ...   0.036506  0.020441  0.020441
Windspeed   -0.087654  0.204932  0.052495  ...   0.125972 -0.011342 -0.011342
Visibility  -0.076210 -0.021057 -0.069721  ...  -0.042190 -0.005889 -0.005889
Tdewpoint    0.571309  0.639106  0.582602  ...   1.000000 -0.003943 -0.003943
rv1         -0.006203 -0.000699 -0.011087  ...  -0.003943  1.000000  1.000000
rv2         -0.006203 -0.000699 -0.011087  ...  -0.003943  1.000000  1.000000

[26 rows x 26 columns]

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, new_preds)
round(r2_score, 2)	#prints 0.893

# Checking Model Performances

### Mean_Absolute_Error

In [13]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

#### R Squared Error

In [64]:
r2_score

0.14890246319303535

In [14]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)	#prints 0.893

0.149

#### Residual Sum of Squares

In [62]:
rss

45.34762967266377

In [38]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)	    #prints 1.823

45.348

### Root_Mean_Square Error

In [63]:
rmse

0.0875144494766171

In [16]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

# Comparing the effects of regularisation

In [25]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

# Feature Selection and Lasso Regression or L1 Regularisation

In [73]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

# Lasso Performance

In [75]:
lasso_preds = lasso_reg.predict(x_test)
from sklearn.metrics import  mean_squared_error
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_preds))
round(lasso_rmse, 3)

0.094

In [76]:
lasso_rmse

0.09358170467245137

### Using Grid_search on Lasso regression

In [32]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2,0.5, 1, 5, 10, 20]}

lasso_regressor = GridSearchCV(lasso_reg, parameters, scoring='neg_mean_squared_error', cv = 5)

lasso_regressor.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 42.262147207704786, tolerance: 0.009995706212833444
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 44.27002043077216, tolerance: 0.010287717871529337
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 43.29174172219039, tolerance: 0.010085458977666977
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 45.29259504438939, tolerance: 0.010619878709861027
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 43.53342349808562, tolerance: 0.010167974004971376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 41.39422636611859, tolerance: 0.009995706212833444
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 43.731578320986245, tolerance: 0.010287717871529337
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 42.73076878156578, tolerance: 0.010085458977666977
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 44.652119772268996, tolerance: 0.010619878709861027
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 42.89329561925604, tolerance: 0.010167974004971376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10.11295472907942, tolerance: 0.009995706212833444
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 16.98906152730421, tolerance: 0.010287717871529337
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15.810056735385963, tolerance: 0.010085458977666977
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15.394897372729517, tolerance: 0.010619878709861027
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 14.314140660543337, tolerance: 0.010167974004971376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 18.290559836762064, tolerance: 0.012789690932435113
  positive)

GridSearchCV(cv=5, error_score=nan,
             estimator=Lasso(alpha=0.001, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01,
                                   0.5, 1, 5, 10, 20]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [33]:
lasso_regressor.best_params_

{'alpha': 1e-08}

In [34]:
lasso_regressor.best_score_

-0.00795956921381159

### Retraining Lasso with best score

# Ridge Regression or L2 Regularisation

In [70]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [74]:
ridge_preds = ridge_reg.predict(x_test)
from sklearn.metrics import  mean_squared_error
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_preds))
round(ridge_rmse, 3)

0.088

### GridSearch with Ridge Regression

In [35]:
from sklearn.model_selection import GridSearchCV

parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2,0.5, 1, 5, 10, 20]}

ridge_regressor = GridSearchCV(ridge_reg, parameters,scoring='neg_mean_squared_error', cv=5)

ridge_regressor.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.4517e-17): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=7.29763e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=7.2513e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=7.3228e-18): result may not be accurate.
  overwrite_a=True).T

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=0.5, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01,
                                   0.5, 1, 5, 10, 20]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [36]:
ridge_regressor.best_params_

{'alpha': 0.01}

In [37]:
ridge_regressor.best_score_

-0.007959537175216152

In [28]:
model = linear_model
linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [30]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.401134     -0.000000
1         T_out            -0.321860     -0.250765      0.000000
2            T2            -0.236178     -0.193880      0.000000
3            T9            -0.189941     -0.188584     -0.000000
4          RH_8            -0.157595     -0.156596     -0.000110
5        RH_out            -0.077671     -0.050541     -0.049557
6          RH_7            -0.044614     -0.046291     -0.000000
7          RH_9            -0.039800     -0.041701     -0.000000
8            T5            -0.015657     -0.020727     -0.000000
9            T1            -0.003281     -0.021549      0.000000
10          rv1             0.000770      0.000743     -0.000000
11          rv2             0.000770      0.000743     -0.000000
12  Press_mm_hg             0.006839      0.006516     -0.000000
13           T7             0.010319      0.010021     -0.000000
14   Visibility             0.012307      0.012032      0.000000
15         RH_5             0.016006      0.016176      0.000000
16         RH_4             0.026386      0.024168      0.000000
17           T4             0.028981      0.027006     -0.000000
18    Windspeed             0.029183      0.030463      0.002912
19         RH_6             0.038049      0.035023     -0.000000
20         RH_3             0.096048      0.094976      0.000000
21           T8             0.101995      0.100754      0.000000
22    Tdewpoint             0.117758      0.076668      0.000000
23           T6             0.236425      0.213316      0.000000
24           T3             0.290627      0.287408      0.000000
25         RH_1             0.553547      0.511932      0.017880

# Training new Lasso_reg

In [65]:
final_weights['Linear_Model_Weight'].min()

-0.4566979483384996

In [69]:
final_weights[final_weights['Linear_Model_Weight'] == final_weights['Linear_Model_Weight'].min()]

  Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0     RH_2            -0.456698     -0.401134          -0.0

In [68]:
final_weights[final_weights['Linear_Model_Weight'] == final_weights['Linear_Model_Weight'].max()]

   Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
25     RH_1             0.553547      0.511932       0.01788

In [72]:
final_weights[final_weights['Lasso_weight'] != 0 ]

     Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
4        RH_8            -0.157595     -0.156596     -0.000110
5      RH_out            -0.077671     -0.050541     -0.049557
18  Windspeed             0.029183      0.030463      0.002912
25       RH_1             0.553547      0.511932      0.017880

# Tunning the Parameters of Lasso and Ridge Regression

In [ ]:
lasso_params = {'alpha':[0.02, 0.024, 0.025, 0.026, 0.03]}
ridge_params = {'alpha':[200, 230, 250,265, 270, 275, 290, 300, 500]}

models2 = {'OLS': linear_model.LinearRegression(),
           'Lasso': GridSearchCV(linear_model.Lasso(), 
                               param_grid=lasso_params).fit(df[X], df[Y]).best_estimator_,
           'Ridge': GridSearchCV(linear_model.Ridge(), 
                               param_grid=ridge_params).fit(df[X], df[Y]).best_estimator_,}